<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>SVG XY Controls</title>
		{% include 'pad-css.html' %}
		
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}?v={{v}}" />
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='fonts/stylesheet.css')}}?v={{v}}?v={{v}}" />
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/grbl-gui.css')}}?v={{v}}" />
	</head>
	<body id="body"  >
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="brand" href="#">Grbl-tool GUI</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="dropdown" id="menu-connect">
	                <a data-hover="dropdown" class="dropdown-toggle btn-auto-connect" href="#"> Connect <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                  <li>
	                  	<a href="#" class="btn-auto-connect">Auto Connect</a>
	                  </li>
	                  <!-- <li class="separator"> </li>
	                  <li>
	                  	<a href="#" id="btn-manual-connect">Manuel Connection</a>
		                <form id="connection-form">
		                  	<input type="text" id="connection-device" placeholder="device/port"/>
		                  	<input type="text" id="connection-bitrate" placeholder="bitrate"/>
	                  	</form>
	                  </li> -->
	                </ul>
	              </li>
	              <li class="dropdown" id="menu-disconnect" style="display:none;">
	                <a data-hover="dropdown" class="dropdown-toggle btn-disconnect" href="#">Disconnect <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                  <li><a href="#" class="btn-disconnect">Disconnect</a></li>
	                  <li><a href="#">Reset</a></li>
	                </ul>
	              </li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	    

    	<div id="main-container" class="container-fluid">
			<div class="row-fluid">
				<div class="col4">
				<div id="status">
					    <dl class="dl-horizontal">
					    <dt>Connection : </dt>
					    <dd id="serial-connected">Disconnected</dd>
					    <dt>State : </dt>
					    <dd id="status-state">Disconnected</dd>
				    </dl>
					<table  class="table table-condensed">
						<thead>
							<tr>
								<th>&nbsp</th>
								<th>X Axis</th>
								<th>Y axis</th>
								<th>Z axis</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Machine</th>
								<td id="machine-x">0</td>
								<td id="machine-y">0</td>
								<td id="machine-z">0</td>
							</tr>
							<tr>
								<th>Work</th>
								<td id="work-x">0</td>
								<td id="work-y">0</td>
								<td id="work-z">0</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="pad">
				{% include 'pad-svg.html' %}
				</div>
				
				<div id="container">
					<div id="shell-panel">
						  <div id="shell-view"></div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript"  src="{{ url_for('static', filename='js/jquery.min.js')}}?v={{v}}"></script>
		<script type="text/javascript"  src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}?v={{v}}"></script>
		<script type="text/javascript"  src="{{ url_for('static', filename='bootstrap/js/twitter-bootstrap-hover-dropdown.js')}}?v={{v}}"></script>
	    <script type="text/javascript"  src="{{ url_for('static', filename='js/underscore-min.js')}}?v={{v}}"></script>
	    <script type="text/javascript"  src="{{ url_for('static', filename='js/numeral/numeral.min.js')}}?v={{v}}"></script>
	    
	    <script type="text/javascript" src="{{ url_for('static', filename='js/josh/history.js')}}?v={{v}}"></script>
 	    <script type="text/javascript" src="{{ url_for('static', filename='js/josh/killring.js')}}?v={{v}}"></script> 
	    <script type="text/javascript" src="{{ url_for('static', filename='js/josh/readline.js')}}?v={{v}}"></script>
	    <script type="text/javascript" src="{{ url_for('static', filename='js/josh/shell.js')}}?v={{v}}"></script>
	    
	    <script type="text/javascript" src="{{ url_for('static', filename='js/grbl/cli.js')}}?v={{v}}"></script>
	    <script type="text/javascript" src="{{ url_for('static', filename='js/grbl/grbl.js')}}?v={{v}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/grbl/ui-events.js')}}?v={{v}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/grbl/event-manager.js')}}?v={{v}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/grbl/web-socket.js')}}?v={{v}}"></script>
	</body>
</html>
