<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>SVG XY Controls</title>
		{% include 'pad-css.html' %}
		<link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/grbl-gui.css')}}" />
	</head>
	<body id="body" style="min-width:640px;min-height:480px;" >
		<div id="pad">
		{% include 'pad-svg.html' %}
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/grbl/event-manager.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/grbl/web-socket.js')}}"></script>
	</body>
</html>
